{{#unless hasInitialValue}}
  <option value selected disabled>
    {{placeholderText}}
  </option>
{{/unless}}
{{#each data as |bool|}}
  <option value={{bool}} selected={{eq bool boolValue}} data-test={{concat 'admin-field-boolean-' bool}}>
    {{bool}}
  </option>
{{/each}}
