<form submit={{action 'preventDefault'}}>
  <div class='admin-form-actions'>
    <button
      type='button'
      onclick={{action 'save' model parentModel}}
      class='admin-button '
      data-test='button-save'>
      Save
    </button>

    {{#if delete}}
      <button
        type='button'
        onclick={{action 'delete'}}
        class='admin-button '
        data-test='button-delete'>
        Delete
      </button>
    {{/if}}

    <button
      type='button'
      onclick={{action 'cancel'}}
      class='admin-button '
      data-test='button-cancel'>
      Cancel
    </button>
  </div>

  <div class='admin-form-content'>
    {{#admin-filter-columns
      excludedColumns=excludedColumns
      recordType=recordType as |columns|}}

      {{#each columns.filteredColumns as |column|}}
        <div class="admin-form-group {{if column.disabled 'disabled'}}">

          <label data-test={{concat 'form-label-' column.key}}>
            {{column.key}}
          </label>

          {{admin-fields/admin-field-base
            model=model
            column=column
            onUpdate=onUpdate}}

        </div>
      {{/each}}

    {{/admin-filter-columns}}
  </div>
</form>
