{{outlet}}

<h2>{{recordType}}</h2>

{{link-to
  'Create'
  'admin.model-records.new'
  class='fv-button fv-button-default'
  data-test='button-create'
}}

{{fv-paginator
  class='fv-pull-right'
  current=page
  total=pageCount
  surrounding=1
}}

{{admin-filter-keyword
  value=filterKeyword
  placeholder=(concat 'Filter by ' recordType)
  onInput=(action 'onFilterChange')
  data-test='filter-input'
}}


{{#admin-table
  recordType=recordType
  model=model
  onRowClick=(action 'view') as |table|}}

  {{#admin-filter-columns
    recordType=recordType as |columns|}}

    {{#each columns.filteredColumns as |column|}}
      {{table.column
        label=column.key
        key=column.key
      }}
    {{/each}}

  {{/admin-filter-columns}}

{{/admin-table}}
