<div class='edit'>
  <h2>Edit {{model.id}}</h2>

  {{admin-form
    recordType=recordType
    model=model
    save=(action 'save')
    delete=(action 'delete')
    cancel=(action 'cancel')
    onUpdate=(action 'onFieldUpdate')
  }}

  <div class='relationships'>
    <h2>Relationships</h2>

    <ul>
      {{#each relationships as |relationship|}}
        <li data-test='has-many-{{relationship.key}}'>
          {{#link-to
            'admin.model-records.show.related'
            recordType
            model.id
            relationship.key
          }}
            {{relationship.key}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>

  </div>
</div>

{{outlet}}
