<div class='admin-page edit'>
  <div class='admin-page-header fv-padded-box clearfix'>
    <h2 class='fv-pull-left'>{{model.id}}</h2>

    <div class='fv-pull-right'>
      {{async-button
        action=(action 'save')
        default='Save'
        pending='Saving...'
        fulfilled='Saved'
        rejected='Error'
        class='save fv-button fv-button-primary fv-pull-right'
        data-test='button-save'
      }}
      {{async-button
        action=(action 'destroyRecord')
        default='Delete'
        pending='Deleting...'
        fulfilled='Deleted'
        class='delete fv-button fv-button-default fv-pull-right'
        data-test='button-delete'
      }}
      <button
        {{action 'cancel'}}
        class='cancel fv-button fv-button-default fv-pull-right'
        data-test='button-cancel'>
        Cancel
      </button>
    </div>
  </div>

  <div class='fv-padded-box'>
    <form>
      {{#each filteredColumns as |column|}}
      <div class="model-column {{column.key}} {{if column.disabled 'disabled'}}" >
          <label data-test={{concat 'form-label-' column.key}}>
            {{column.key}}
          </label>
          {{admin-fields/admin-field-base model=model column=column onUpdate=(action 'onFieldUpdate')}}
        </div>
      {{/each}}
    </form>
  </div>
</div>

<div class='admin-page fv-padded-box edit'>
  <div class='relationships'>
    <h2>Relationships</h2>

    {{#each belongsTo as |relationship|}}
    <h4 data-test='belongs-to-{{relationship.name}}'>{{relationship.name}}</h4>
      <!-- TODO: This shouldn't use a table for a to-one relationship -->
      {{model-records-table
        recordType=relationship.type
        records=relationship.records
        relationshipName=relationship.inverse
        relationshipId=model.id}}
    {{/each}}
    <ul class='unstyled-list' data-test='has-many-{{relationship.name}}'>
      {{#each hasMany as |relationship|}}
        <li>
          {{#link-to
            'model-records.show.related'
            recordType
            model.id
            relationship.name
            }}
            {{relationship.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
