<h2>{{recordType}}</h2>

{{link-to
  'Create'
  'admin.model-records.show.related.new'
  data-test=(concat 'button-create-' recordType)
}}

{{fv-paginator
  current=page
  total=pageCount
  surrounding=1
}}

{{admin-filter-keyword
  value=filterKeyword
  placeholder=(concat 'Filter by ' recordType)
  onChange=(action 'onFilterChange')
  data-test='filter-input'
}}

{{#admin-table-two
  recordType=recordType
  model=model as |table|}}
  {{#admin-filter-columns
    recordType=recordType as |columns|}}

    {{#each columns.filteredColumns as |column|}}
      {{table.column label=column.key key=column.key}}
    {{/each}}

  {{/admin-filter-columns}}
{{/admin-table-two}}



<!-- {{#fv-table data=model as |table|}}
  {{table.column
    label='Timestamp'
    dataKey='secondsFromStart'
    dataFormatter=timestampFormatter}}
  {{table.column label='User' dataKey='email'}}
  {{table.column label='Name' dataKey='text'}}
{{/fv-table}} -->
