<h2>{{recordType}}</h2>

{{link-to
  'Create'
  'admin.model-records.show.related.new'
  class='fv-button fv-button-default'
  data-test=(concat 'button-create-' recordType)
}}

{{fv-paginator
  class='fv-pull-right'
  current=page
  total=pageCount
  surrounding=1
}}

{{admin-filter-keyword
  value=filterKeyword
  placeholder=(concat 'Filter by ' recordType)
  onChange=(action 'onFilterChange')
  data-test='filter-input'
}}

{{admin-table
  recordType=recordType
  model=model}}
